* {
  box-sizing: border box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Verdana";
}

body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Verdana";
  height: 4rem;
}

.navbar-title {
  text-align: center;
  color: #335576;
  padding-left: 5.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
}

.navbar-links__list {
  text-decoration: none;
  padding-right: 5.5rem;
}

.navbar-links__list--item {
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
}

.navbar-links__list--anchor {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

.navbar-links__list--curent {
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.5rem;
}

.destination-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.destination-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 45rem;
}

.destination-name {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 5.5rem;
  top: 4rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 12rem;
  left: 14rem;
}

.destination-card__schedule {
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  height: 23rem;
  width: 15rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 0 1rem;
}

.schedule-day {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0.7rem;
  margin: 0 1rem;
}
.schedule-day__activity {
  font-size: 1rem;
  background-color: #fefaf5;
  margin: 1rem 1rem;
  text-align: center;
  padding: 1rem 0;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 10rem;
  background-color: #fefaf5;
  margin-left: 2rem;
}

.footer-title {
  color: #335576;
  padding: 1rem 0 2rem 0;
}
.footer-title__sub {
  color: #db7a4e;
  font-size: 0.75rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.footer-details {
  color: #335576;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  margin-left: -3rem;
}

.hours {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.hours__date-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -1.2rem;
}
.hours__date-time--dif {
  padding: 0 1.2rem;
}

.socials {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.icons {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem 2rem 0rem 2rem;
}
.icons-facebook {
  width: 0.9rem;
  padding-top: 0.25rem;
}

.social-icon-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  margin-left: -2rem;
  padding-top: 1rem;
}/*# sourceMappingURL=destination.css.map */