@use "../scss/partials/global" as *;

@mixin flexJustify($justify) {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: $justify;
}

@mixin hero-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: max-content;
  height: min-content;
}

@mixin flexLeft($direction) {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: $direction;
}

// navbar

.navbar {
  @include flexJustify(space-between);
  font-family: "Verdana";
  height: 4rem;
}

.navbar-title {
  text-align: center;
  color: $logo-wordmark;
  padding-left: 6.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
}

.navbar-links__list {
  text-decoration: none;
  padding-right: 6rem;
}

.navbar-links__list--item {
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
}

.navbar-links__list--anchor {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

.navbar-links__list--curent {
  border-bottom: 0.2rem solid $active-page;
  padding-bottom: 0.5rem;
}

//  destination schedule

.destination-section {
  display: flex;
  flex-direction: column;
  position: relative;
  //   height: 75vh;
  //   width: 100vw;
}

.destination-image {
  object-fit: cover;
  height: 45rem;
}

.destination-name {
  font-size: 4rem;
  color: white;
  position: absolute;
  left: 7rem;
  top: 4rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 12rem;
  left: 14rem;
}

.destination-card__schedule {
  border: 0.0625rem solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 0.3125rem;
  height: 23rem;
  width: 15rem;
  box-shadow: 0 0.25rem 0.25rem rgba($color: black, $alpha: 0.2);
  background-color: white;
  margin: 0 1rem;
}

.schedule-day {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0.7rem;
  margin: 0 1rem;

  &__activity {
    font-size: 1rem;
    background-color: $footer;
    margin: 1rem 1rem;
    text-align: center;
    padding: 1rem 0;
  }
}

// footer

.footer {
  @include flexJustify(space-evenly);
  align-items: center;
  padding: 2rem 10rem;
  background-color: $footer;
  margin-left: 2rem;
}

.footer-title {
  color: $footer-title;
  padding: 1rem 0 2rem 0;

  &__sub {
    color: $footer-subtitle;
    font-size: 0.75rem;
    font-weight: 300;
    padding-bottom: 1rem;
  }
}

.footer-details {
  color: $footer-title;
}

.contact {
  @include flexLeft(column);
  margin-left: -3rem;
}

.hours {
  @include flexLeft(column);

  &__date-time {
    @include flexLeft(row);
    justify-content: space-between;
    margin-left: -1.2rem;

    &--dif {
      padding: 0 1.2rem;
    }
  }
}

.socials {
  @include flexLeft(column);
}

.icons {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem 2rem 0rem 2rem;

  &-facebook {
    width: 0.9rem;
    padding-top: 0.25rem;
  }
}

.social-icon-wrap {
  @include flexLeft(row);
  margin-left: -2rem;
  padding-top: 1rem;
}
