* {
  box-sizing: border box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Verdana";
}

body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Verdana";
  height: 4rem;
}

.navbar-title {
  text-align: center;
  color: #335576;
  padding-left: 6.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
}

.navbar-links__list {
  text-decoration: none;
  padding-right: 6rem;
}

.navbar-links__list--item {
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
}

.navbar-links__list--anchor {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

.navbar-links__list--curent {
  border-bottom: 0.2rem solid #db7a4e;
  padding-bottom: 0.5rem;
}

.hero-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fefaf5;
  padding: 2.5rem;
  height: 25rem;
}

.hero-card__slogan {
  font-weight: 700;
  padding-bottom: 0.25rem;
}

.hero-card__description {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  max-height: 25rem;
  width: 40rem;
  padding: 1rem 1rem 1rem 4rem;
  color: #335576;
}

.hero-card__paragraph {
  padding: 1.5rem 0;
  color: #335576;
}

.hero-card__button {
  background-color: #db7a4e;
  color: #ffffff;
  border-radius: 10%/50%;
  text-align: center;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  font-weight: 200;
  vertical-align: center;
}

.hero-image {
  max-height: 29rem;
  max-width: 29rem;
  padding-right: 4rem;
}

.recomendations {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5rem;
}

.recomendations_title {
  color: #335576;
  vertical-align: left;
  padding: 3rem 1rem 2rem 6.5rem;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 13rem;
}

.destination-card {
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  overflow: hidden;
  height: 25rem;
  width: 17rem;
  position: relative;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}
.destination-card__image {
  height: 25rem;
  width: 17rem;
}

.destination-card__name {
  color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  background-color: #fefaf5;
}

.footer-title {
  color: #335576;
  padding: 1rem 0 2rem 0;
}
.footer-title__sub {
  color: #db7a4e;
  font-size: 0.75rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.footer-details {
  color: #335576;
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  margin-left: -3rem;
}

.hours {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.hours__date-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -1.2rem;
}
.hours__date-time--dif {
  padding: 0 1.2rem;
}

.socials {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}

.icons {
  height: 2rem;
  width: 2rem;
  padding: 0 1rem;
}
.icons-facebook {
  width: 1rem;
}

.social-icon-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  margin-left: -1rem;
  padding-top: 0.5rem;
}/*# sourceMappingURL=main.css.map */