@use "../scss/partials/global" as *;

// Colors

$dest-card-height: 25rem;
$dest-card-width: 17rem;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexJustify($justify) {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: $justify;
}

@mixin flexLeft($direction) {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: $direction;
}

.navbar {
  @include flexJustify(space-between);
  font-family: "Verdana";
  height: 4rem;
}

.navbar-title {
  text-align: center;
  color: $logo-wordmark;
  padding-left: 6.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.navbar-links {
  display: inline-block;
  text-decoration: none;
}

.navbar-links__list {
  text-decoration: none;
  padding-right: 6rem;
}

.navbar-links__list--item {
  text-decoration: none;
  display: inline-block;
  padding-right: 1rem;
}

.navbar-links__list--anchor {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 300;
}

.navbar-links__list--curent {
  border-bottom: 0.2rem solid $active-page;
  padding-bottom: 0.5rem;
}

.hero-card {
  @include flexJustify(space-between);
  background-color: $hero-back;
  padding: 2.5rem;
  height: 25rem;
}

.hero-card__slogan {
  font-weight: 700;
  padding-bottom: 00.25rem;
}

.hero-card__description {
  @include flexLeft(column);
  text-align: left;
  max-height: 25rem;
  width: 40rem;
  padding: 1rem 1rem 1rem 4rem;
  color: $hero-slogan;
}

.hero-card__paragraph {
  padding: 1.5rem 0;
  color: $hero-slogan;
}

.hero-card__button {
  background-color: $hero-buton;
  color: $background;
  border-radius: 10% / 50%;
  text-align: center;
  padding: 0.5rem 2.5rem;
  font-size: 1rem;
  font-weight: 200;
  vertical-align: center;
}

.hero-image {
  max-height: 29rem;
  max-width: 29rem;
  padding-right: 4rem;
}

.recomendations {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5rem;
}

.recomendations_title {
  color: $footer-title;
  vertical-align: left;
  padding: 3rem 1rem 2rem 6.5rem;
}

.card-container {
  @include flexJustify(space-between);
  padding: 0 13rem;
}

.destination-card {
  border: 0.0625rem solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 0.3125rem;
  overflow: hidden;
  height: $dest-card-height;
  width: $dest-card-width;
  position: relative;
  box-shadow: 0 0.25rem 0.25rem rgba($color: black, $alpha: 0.2);

  &__image {
    height: $dest-card-height;
    width: $dest-card-width;
  }
}

.destination-card__name {
  color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
}

.footer {
  @include flexJustify(space-evenly);
  padding: 2rem 4rem;
  background-color: $footer;
}

.footer-title {
  color: $footer-title;
  padding: 1rem 0 2rem 0;

  &__sub {
    color: $footer-subtitle;
    font-size: 0.75rem;
    font-weight: 300;
    padding-bottom: 1rem;
  }
}

.footer-details {
  color: $footer-title;
}

.contact {
  @include flexLeft(column);
  margin-left: -3rem;
}

.hours {
  @include flexLeft(column);

  &__date-time {
    @include flexLeft(row);
    justify-content: space-between;
    margin-left: -1.2rem;

    &--dif {
      padding: 0 1.2rem;
    }
  }
}

.socials {
  @include flexLeft(column);
}

.icons {
  height: 2rem;
  width: 2rem;
  padding: 0 1rem;

  &-facebook {
    width: 1rem;
  }
}

.social-icon-wrap {
  @include flexLeft(row);
  margin-left: -1rem;
  padding-top: 0.5rem;
}
