* {
  box-sizing: border box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Verdana";
}

body {
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #000000;
}

// colors

$background: #ffffff;
$logo-wordmark: #335576;
$active-page: #db7a4e;
$footer: #fefaf5;
$footer-title: #335576;
$footer-subtitle: #db7a4e;
$hero-back: #fefaf5;
$hero-slogan: #335576;
$hero-buton: #db7a4e;
$home-title: #335576;
$activities: #fefaf5;

// card dimensions
$dest-card-height: 25rem;
$dest-card-width: 17rem;
